.homepage{
    width: 100%;
    height: auto;
    background-color: #eee;
    font-family: 'Poppins', sans-serif;
}

.homepage .homepageDesign{
    width: 100%;
    height: auto;
}

.homepage .homepageDesign .firsthomebar{
    width: 100%;
    background-color: white;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.homepage .bars{
    cursor: pointer;
}
.activetabs{color: aqua;cursor: pointer;}
.homeContents{
    display: none;
}

.active-content{
    display: block;
}