.homepage{
    width: 100%;
    height: auto;
    background-color: #eee;
    font-family: 'Poppins', sans-serif;
}

.homepage .homepageDesign{
    width: 100%;
    height: auto;
}

.homepage .homepageDesign .firsthomebar{
    width: 100%;
    background-color: white;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.homepage .bars{
    cursor: pointer;
}
.activetabs{color: rgb(0, 0, 0);font-weight: bold;cursor: pointer;}
.homeContents{
    display: none;
}

.active-content{
    display: block;
}

.mainProfile{
    width: 100%;
    height: auto;
    border: 2px solid black;
}

.servicelist{
    border: 2px solid black;
    width: 30%;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}